/* RESET ========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 15px = 1rem */
    font-size: 93.75%;
    font-family: 'Londrina Solid', sans-serif;
}


/* COLORS ========================== */

:root {
    --first-color-white: #F6F6F7;
    --first-color-dark: #040505;
    --second-color: #1B62F8;
    --third-color-light: #BABEC8;
    --third-color-dark: #4D535D;
    --shadow-color: #32ACB1;
}